a {
	color: $quinaryColour;
	font-weight: 600;
	text-decoration: none;
}

img {
	//display: block;
	max-width: 100%;
	height: auto;
}

p {
	margin-bottom: em(30);
	font-family: $ffBase;
	font-weight: $fwBase;
	line-height: $lhBase / $fzBase;
	@include font-size($fzBase);
	color: black;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: grayscale;
}

input {
	font-family: $ffBase;
	font-weight: $fwBase;
	@include font-size($fzBase)
}

strong {
	font-weight: 700;
}
