// variables //

// Layout

// Typography
// -------------------------

	// family
	$ffBase: 		-apple-system, BlinkMacSystemFont,
                    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                    "Fira Sans", "Droid Sans", "Helvetica Neue",
                    sans-serif;
	$ffSecondary: 	-apple-system, BlinkMacSystemFont,
                    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                    "Fira Sans", "Droid Sans", "Helvetica Neue",
                    sans-serif;
	$alpha: 		'Merriweather', serif;
	$beta: 			'Merriweather', serif;
	$gamma: 		'Merriweather', serif;
	$delta: 		'Merriweather', serif;
	$epsilon: 		-apple-system, BlinkMacSystemFont,
                    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                    "Fira Sans", "Droid Sans", "Helvetica Neue",
                    sans-serif;
	$zeta: 			-apple-system, BlinkMacSystemFont,
                    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                    "Fira Sans", "Droid Sans", "Helvetica Neue",
                    sans-serif;
	$eta: 			-apple-system, BlinkMacSystemFont,
                    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                    "Fira Sans", "Droid Sans", "Helvetica Neue",
                    sans-serif;
	$theta: 		-apple-system, BlinkMacSystemFont,
                    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                    "Fira Sans", "Droid Sans", "Helvetica Neue",
                    sans-serif;

	// style
	$fzBase: 			20 !default;
	$lhBase: 			35 !default;
	$fwBase: 			300;

// Colours
	$primaryColour: 	#021C1E;
	$secondaryColour: 	#004445;
	$tertiaryColour: 	#2C7873;
	$quinaryColour: 	#6FB98F;

	$lightGrey: 		#909090;
	$darkGrey:			#4b4b4b;
// Margins
// -------------------------

	$lMargBottom: 80px;
	$mMargBottom: 50px;
	$sMargBottom: 20px;

	$lMargBottomM: 40px;
	$mMargBottomM: 25px;
	$sMargBottomM: 10px;

// Generic sizes
// -------------------------
	$column: 660px;
	$mobileContainer: 90%;

// Padding
// -------------------------
	$padVert: 50;

// Headings
// -------------------------

	$headings: 							'.alpha','.beta','.gamma','.delta', '.epsilon', '.zeta', '.eta', 										'.theta';
	$headingSizes: 					    60,40,26,20,60,40,26,20;
	$headingFamilies: 					$alpha, $beta, $gamma, $delta, $epsilon, $zeta, $eta, $theta;
	$headingColors: 					inherit , inherit, inherit, inherit, inherit , inherit, inherit, 										inherit;
	$headingMargins: 					15,15,15,15,15,15,15,15;
	$headingLineHeights: 				1.2,1.2,1.2,1.2,1.2,1.2,1.6,1.2;
	$headingFontWeights: 				700, 500, 500, 500, 700, 700, 400, 700;

// Breaks
// -------------------------
	$xs: 320px;
	$s: 480px;
	$m: 640px;
	$l: 960px;
	$xl: 1200px;
